<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Matho's ToDo Home</title>
    
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/htmx.org@4.0.0/dist/htmx.min.js"></script>
    <style>
        div {
            flex: auto;
        }
    </style>
</head>
<body>
    <header>
    <h1> Matho's To-Do list</h1>
    <sub>Complete with categories, tags and contexts</sub>

    </header>
    <aside>
        {{ message }}
    </aside>
    <section style="display: flex; flex-wrap: wrap;">
        <div>
            <h2>Inbox</h2>
            <ul id="inbox-list">
                {% for task in tasks %}
                    {% include '_task_item.html' %}
                {% endfor %}
            </ul>
            <form hx-post="{{ url_for('create_task') }}" hx-target="#inbox-list" hx-swap="beforeend">
                <input type="text" name="title" placeholder="New task" required>
                <button type="submit">Add</button>
            </form>
        </div>
        <div>
            <h2>Urgent</h2>
            <ul>
                <li> Item </li>
            </ul>
        </div>
        <div>
            <h2>Important</h2>
            <ul>
                <li> Item </li>
            </ul>
        </div>
    </section>
</body>
</html>